<html lang="pt-br">

<head th:replace="~{componentes :: head}"></head>

<body>

	<div th:replace="~{componentes :: topo}"></div>

	<div class="container mt-5">

		<div class="mt-2">
			<nav class="navbar">
				<a type="button" class="btn btn-success" th:href="@{/formusuario}">Novo</a>
			</nav>
		</div>

		<div class="mt-5">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Nome</th>
						<th scope="col">Data de Nascimento</th>
						<th scope="col">Ações</th>
					</tr>
				</thead>
				<tbody th:each="usuario: ${usuarios.content}">
					<tr>
						<td th:text="${usuario.nome} +' '+  ${usuario.sobrenome}"></td>
						<td th:text="${usuario.dataNascimento}"></td>
						<td><a type="button" class="btn btn-primary"
							th:href="@{/editarusuario/{id} (id= ${usuario.id})}">Editar</a> <a
							type="button" class="btn btn-danger"
							th:href="@{/deleteusuario/{id} (id= ${usuario.id})}">Remover</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="position-relative mt-5">
			<div class="position-absolute top-100 start-50 translate-middle">
				<span th:if="${usuarios.hasPrevious()}">
					<a th:href="@{/usuarios(page=${usuarios.number-1}, size=${usuarios.size})}">Anterior</a>
				</span>
				<th:block th:each="i: ${#numbers.sequence(0, usuarios.totalPages-1)}">
					<a th:href="@{/usuarios(page=${i}, size=${usuarios.size})}">[[ ${i} + 1]]</a>
				</th:block>
				<span th:if="${usuarios.hasNext()}">
					<a th:href="@{/usuarios(page=${usuarios.number+1}, size=${usuarios.size})}">Próximo</a>
				</span>
			</div>
		</div>
		
		
	</div>

</body>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
	crossorigin="anonymous"></script>

</html>